@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

.box{
    width: 240px;
    height: 240px;
    background-color: tomato;
    margin: 30px 0 40px;

}
.out{
    background-color: #eeeeee;
    border-radius: 5px;
    color: #000;
    font-size: 19px;
    width: 700px;
}
.header{
padding: 10px ;


}
.heading{
    color: rgb(255, 101, 80);
    font-size: 36px;
    font-weight: 400;
    line-height: 1.1;
    background-color:  #f8f8f8;
    border-color: gray;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    display: inline-block;
}

ul li {
    list-style: none;
    display: inline-block;
    border-top: 1px solid #ccc;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.hero{
    margin-top: 30px;
    left: 0;
    right: 0;
}
.header__link{
    margin-right: 30px;
    line-height: 1.42857143;
    color: #158cba;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col-4 {
    width: 33.3333%;
    padding: 0 15px;
   }
.col-8 {
    width: 66.6666%;
    padding: 0 15px;

}
.blur, .offsetY, .offsetX, .spread, .border-radius{
    height: 15px;
    width: 300px;
-webkit-appearance: none;
    border: 1px solid #d4d4d4;
    outline: none;
}
.section-title{
    font-size: 17px;
    line-height: 2px;
    font-weight: 500;
    margin : 25px 0;
}
.list-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.horizontal-shadow, .vertical-shadow, .blur-radius, .spread-radius, .shadow,.border, .background{
    font-size: 20px;
    color: #158cba;
    font-weight: 600;
}
.section-subtitle{
    line-height: 1.65;
    font-size: 18px;
    text-align: justify;
    margin-top: 15px
}
.hero-title{
    font-size: 30px;
background: #158cba;
    color: white;
    font-weight: 500;
    padding: 4px;
    border-radius: 3px;
}
